<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         version="3.0">

    <context-param>
        <param-name>com.sun.jersey.freemarker.templateBasePath</param-name>
        <param-value>/WEB-INF/templates/</param-value>
    </context-param>

    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>fr.bbougon.ousontmesaffaires.web.ressources.MonApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/public/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>fr.bbougon.ousontmesaffaires.web.ContextListener</listener-class>
    </listener>

</web-app>